body {
  background-color: #d3fcd5;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  margin: 0; 
  font-size: 20px; 
}

#contenido {
  display: none;
  text-align: center; 
}

#boton {
  margin-top: 10px;
}
